@model RelatorioModel
@{
    ViewBag.Title = "Jogos Disponíveis";
}

<div class="container">
    <div class="row">
        <h2 class="col-md-8 col-md-push-2">TSG Games</h2>
    </div>
    <div class="row">
        <div role="main" class="col-md-8 col-md-push-2">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Selo</th>
                        <th>Preço</th>
                        <th>Mais<th>
                    </tr>
                </thead>
                @foreach (var jogo in @Model.Jogos)
                {
                    <tr>
                        <td>@jogo.Nome</td>
                        <td>@jogo.Categoria</td>
                        <td>@jogo.Selo</td>
                        <td>@jogo.Preco.ToString("c")</td>
                        <td class="text-center"><button class="shiny-button" onclick="location.href='@Url.Action("Detalhes","Jogo")/@jogo.Id'">Detalhes</button></td>
                    </tr>
                }
            </table>
        </div>
        <aside role="complementary" class="col-md-3 col-md-push-2">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">@Model.JogoMaisCaro</h4>
                    <p class="list-group-item-text">Jogo mais caro</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">@Model.JogoMaisBarato</h4>
                    <p class="list-group-item-text">Jogo mais barato</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">@Model.PrecoMedio.ToString("c")</h4>
                    <p class="list-group-item-text">Média de preço</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">@Model.QuantidadeTotalDeJogos</h4>
                    <p class="list-group-item-text">Total de jogos</p>
                </a>
            </div>
        </aside>
    </div>
</div>



