@model RelatorioModel
@{
    ViewBag.Title = "Jogos Disponíveis";
}

@{
    bool temMensagemParaMostrar = TempData["Mensagem"] != null;
    if (temMensagemParaMostrar)
    {
        <h1>@TempData["Mensagem"]</h1>
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-2"><h2>TSG Games</h2></div>
        <div class="col-md-1 col-md-push-5" style="margin-top:20px;">
            <button class="shiny-button" onclick="location.href='@Url.Action("Manter","Jogo")'">Criar jogo</button>
        </div>
    </div>
    <div class="row" style="margin-top:22px;margin-left:40px;">
        <div class="col-md-12">
            @if (Model.Jogos.Count > 0)
            {
                foreach (var jogo in @Model.Jogos)
                {
                    @Html.Partial("_CelulaJogo", @jogo)
                }
                <aside class="col-md-3 col-md-push-2">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">@Model.JogoMaisCaro</h4>
                            <p class="list-group-item-text">Jogo mais caro</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">@Model.JogoMaisBarato</h4>
                            <p class="list-group-item-text">Jogo mais barato</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">@Model.PrecoMedio.ToString("c")</h4>
                            <p class="list-group-item-text">Média de preço</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">@Model.QuantidadeTotalDeJogos</h4>
                            <p class="list-group-item-text">Total de jogos</p>
                        </a>
                    </div>
                </aside>
            }
            else
            {
                <div class="row">
                    <div class="col-md-8 col-md-push-2">
                        <h2>Nenhum jogo encontrado.</h2>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
