@model JogoModel

<div onclick="location.href='@Url.Action("Detalhes", "Jogo")/@Model.Id'" class="col-md-2 celula-jogo">
    <img src=@Model.Imagem />
    <div class="celula-jogo-info">
        <div class="nome">
            @Model.Nome
            <a href='@Url.Action("Manter", "Jogo")/@Model.Id'>
                <div class="imagem-manter">
                    <img src="~/Content/Images/edit.png" />
                </div>
            </a>
            <a href='@Url.Action("Locacao", "Locacao")/@Model.Id'>
                <div class="imagem-locar">
                    <img class="imagem-locar" src="~/Content/Images/alugar.png" />
                </div>
            </a>
        </div>
        <h3>@Html.Partial("_ImagemSelo", Model.Selo.Nome)</h3>
        <h3>@Html.Partial("_ImagemCategoria", Model.Categoria)</h3>
    </div>
</div>