<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locadora - @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @RenderSection("Scripts", false)
                @Html.ActionLink("Locadora TSG Games", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="nav-link" href='@Url.Action("JogosDisponiveis", "Relatorio")'>Jogos Disponíveis</a>
                    </li>
                    <li>
                        <a class="nav-link" href='@Url.Action("Devolucao", "Devolucao")'>Devolver jogo</a>
                    </li>
                    <li>
                        <form class="nav-form form-filtro" action='@Url.Action("JogosDisponiveis", "Relatorio")' method="get">
                            <input class="transparente texto-busca" type="text" placeholder="Digite sua busca" name="nome" />
                            <input class="botao-busca" type="submit" value="" />
                        </form>
                    </li>
                    <li>
                        <a class="nav-link" href='@Url.Action("Sair", "Home")'>Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&nbsp&nbsp&copy; @DateTime.Now.Year - CWI Crescer</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/submitquery")
    @Scripts.Render("~/bundles/autocomplete")
</body>
</html>
